<h1>Add couple</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if(@boys.length > 0 && @girls.length > 0) %>
      <%= render 'form', couple: @couple %>
  <% else %>
    <p> You need at least one boy and one girl in the database to create a couple </p>
  <% end %>
  </div>
</div>
