<%= render 'shared/header' %>

</br>
</br>
<p>
Couples with dancers from different countries
</p>
</br>
</br>

<% @lst_couples.each do |couple| %>
  <li>
    <p>
        id: <%= couple.id %>
    </p>
  </li>
<% end %>
