<%= render 'shared/header' %>

</br>
</br>
<p>Countries with most couples at competitions </p>
</br>


<p>most couples at competitions: <%= @nr_dancers %> </p>
<p>countries:</p>

<% @countries_most_couples_competitions.each do |country|%>
  <li id='<%= country.name %>'>
    <p>
      <%= country.name %>
    </p>
  </li>
<% end %>



