<%= render 'shared/header' %>

</br>
</br>
<p>Country with most couples at competitions </p>
</br>


<p>Countries with most couples at competitions, <%= @nr_dancers %> : </p>
<% @countries_most_couples_competitions.each do |country|%>
  <li id='<%= country.name %>'>
    <p>
      <%= country.name %>
    </p>
  </li>
<% end %>



