<%= render 'shared/header' %>

</br>
<p>
 Dancers that have been in a couple with only one dancer
</p>
</br>

<% @lst_dancers.each do |dancer| %>
  <li id='<%= dancer.id %>'>
    <p>
      <%= dancer.name %>
      <%= link_to 'show', dancer_path(dancer.id) %>
    </p>
  </li>
<% end %>
