<%= render 'shared/header' %>

</br>
<p>
 Dancers that have been in a couple with only one dancer
</p>
</br>

<% @lst_dancers.each do |dancer| %>
  <li>
    <p>
      id: <%= dancer.id %>
    </p>
  </li>
<% end %>
