<%= render 'shared/header' %>

</br>
</br>
<p>Competitions with most earnings</p>
</br>

<p>most earnings: <%= @earnings %> </p>
<p>competitions:</p>

<% @competitions_most_earnings.each do |competition|%>
  <li id='<%= competition.id %>'>
    <p>
      <%= competition.name %>
    </p>
  </li>
<% end %>
