<%= render 'shared/header' %>

<h1>Data</h1>

<%= link_to 'All partners of a dancer', new_dancer_partner_path %>
</br>

<%= link_to "#{@couples_diff_countries_title}", '/couples_diff_countries' %>
</br>
<%= link_to "#{@query3_title}", '/query3' %>
