<%= render 'shared/header' %>

<h1>Data</h1>

<%= link_to 'All previous partners of a dancer', '/query1' %>
</br>
<%= link_to "#{@query2_title}", '/query2' %>
</br>
<%= link_to "#{@query3_title}", '/query3' %>
