<%= render 'shared/header' %>

</br>
</br>
<p>Dancer with most competitions</p>
</br>

<p>
  dancers with the most entries in competitions, <%= @max_entries %> :
</p>

<% @dancers_most_entries.each do |dancer|%>
  <%= render partial: 'shared/dancer_basic_info', locals: {dancer: dancer} %>
<% end %>

