<%= render 'shared/header' %>

</br>
</br>
<p>Competition with most earnings</p>
</br>

<p>Competitions with most earnings, of <%= @earnings %>: </p>

<% @competitions_most_earnings.each do |competition|%>
  <li id='<%= competition.id %>'>
    <p>
      <%= competition.name %>
    </p>
  </li>
<% end %>
